
<html>
 <head>
 <script src="https://code.highcharts.com/highcharts.js"></script>
 <script src="https://code.highcharts.com/modules/exporting.js"></script>
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
 </head>
 <body>
    <h1>Your Investment result</h1>
    <p>{{s1}}</p>
    <p>{{s2}}</p>
    <p>{{s3}}</p>
    <p>{{s4}}</p>

<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br><br><br>
<b><hr></b>
<br><br><br>
<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

 <script>

  //var myarray = ;
  var priceList0 = [328.91, 341.03, 339.03, 337.89, 343.45];
  var priceList1 = [43.66, 43.33, 43.34, 43.26, 44.56];
  var priceList2 = [1168.92, 1165.08, 1164.13, 1174.26, 1179.14];
  var portFolioList = {{ portFolioList }};
  var dateList = ['12-11-2017', '12-12-2017', '12-13-2017', '12-14-2017', '12-15-2017'];


    $(function () {

    Highcharts.chart('container1', {
        title: {
            text: 'Historical Data for individual stocks ',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: Quandl ! Api',
            x: -20
        },
        xAxis: {
            categories: dateList
        },
        yAxis: {
            title: {
                text: 'Actual Stock Value'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },

        series: [{
            name: 'TSLA',
            data: priceList0
        }, {
            name: 'INTC',
            data: priceList1
        }, {
            name: 'AMZN',
            data: priceList2
        }]
    });

        Highcharts.chart('container2', {
        title: {
            text: 'Historical Data for Growth Portfolio',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: Quandl ! Api',
            x: -20
        },
        xAxis: {
            categories: dateList
        },
        yAxis: {
            title: {
                text: 'Growth Portfolio Value'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valuePrefix: ' $'

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Total Growth Portfolio Values',
            data: portFolioList
        }]
    });
});
 
    
   
  </script>


});


 </body>

 </html>

